/*      GOOGLE FONTS        */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*      CSS VARIABLES       */
:root {
    --contrast-color: hsl(220, 98%, 61%);
    --bg-color: hsl(0, 0%, 98%);
    --bg-color-second: #ffffff;
    --line-color: hsl(236, 33%, 92%);
    --text-color: hsl(235, 19%, 35%);
    --text-color-light: hsl(236, 9%, 61%);
    --hover: hsl(236, 9%, 61%);
    --shadow: hsl(236, 33%, 92%);
}

/*	DARK THEME	*/
.dark {
    /*transition, animation*/
    --bg-color: hsl(235, 21%, 11%);
    --bg-color-second: hsl(235, 24%, 19%);
    --line-color: hsl(237, 14%, 26%);
    --text-color: hsl(234, 39%, 85%);
    --text-color-light: hsl(233, 14%, 35%);
    --hover: hsl(236, 33%, 92%);
    --shadow: black;
}

/*      BASE        */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
}

body {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

/*      BACKGROUND IMAGE        */
.to-do-background-container {
    background-image: url('../images/bg-mobile-light.jpg');
    background-size: cover;
    height: 230px;
}

.dark .to-do-background-container {
    background-image: url('../images/bg-mobile-dark.jpg');
}

.to-do-container {
    height: calc(100vh - 270px);
    background-color: var(--bg-color);
}

.to-do-component-container {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 80vh;
    min-height: 80vh;
    width: 90%;
    margin-top: 4rem;
}

/*      MAIN TITLE      */
.title-slot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}

.main-title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.8rem;
}

.theme{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/*      TO-DO-FIELD     */
.to-do {
    background-color: var(--bg-color-second);
    padding: 1rem 1.2rem;
    border-bottom: 1px solid var(--line-color);
}

.to-do-list {
    margin-top: 1.2rem;
}

input[type=checkbox] {
    visibility: hidden;
}

.to-do-main {
    position: relative;
    cursor: pointer;
    min-width: 18px;
    margin-right: 1.5rem;
}

.to-do-check {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 23px;
    height: 23px;
    border: var(--line-color) 1px solid;
    border-radius: 50%;
}

.to-do-input-field {
    font-size: 18px;
    border: none;
    width: 80%;
    background-color: var(--bg-color-second);
}

.to-do-input-field:focus{
    outline: none;
    color:var(--text-color);
}

input[placeholder] {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-color);
}

/*  NAV LIST  */
.nav-item-list, .task-item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-list {
    box-shadow: var(--shadow) 0px 5px 10px;
    background-color: var(--bg-color-second);
    padding: 1rem 1.2rem;
}

.nav-item, .nav-item a {
    font-size: 12px;
    text-decoration: none;
    color: var(--text-color-light);
}

.nav-item a:hover{
    color: var(--text-color);
}

.task-item {
    padding: 0 1rem;
}

.task-item a {
    color: var(--text-color-light);
    font-weight: 700;
}

.task-item a:hover {
    color: var(--hover);
}

.small-text {
    margin: 3rem 0;
    text-align: center;
    color: var(--text-color-light);
}

.small-text p {
    font-size: 12px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 200px) {
    .to-do-component-container {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    .to-do-component-container {
        width: 60%;
    }
    .to-do-background-container {
        background-image: url('../images/bg-desktop-light.jpg');
        height: 270px;
    }
    .dark .to-do-background-container {
        background-image: url('../images/bg-desktop-dark.jpg');
    }
}

@media only screen and (min-width: 1024px) {
    .to-do-component-container {
        width: 38%;
    }
}

.attribution {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}
